<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kt.aivle.board.mapper.BoardMapper">

    <select id="getListBoard" resultType="kt.aivle.board.model.Board">
        SELECT
        board_sn,
        user_name AS userName,
        title,
        content,
        b.created_dt AS createdDt
        FROM
        board b
        JOIN
        user u ON b.user_sn = u.user_sn
        WHERE
        board_yn = 'Y'
        ORDER BY
        b.created_dt DESC
    </select>

    <select id="getListGongo" resultType="kt.aivle.board.model.Gongo">
        SELECT
            gongo_sn,
            gongo_name,
            gongo_type,
            schedule_start_dt,
            schedule_end_dt,
            document_start_dt,
            document_end_dt,
            use_yn,
            created_dt,
            updated_dt
        FROM
            gongo
        WHERE
            use_yn = 'Y'
        ORDER BY
            gongo_sn DESC
    </select>

    <insert id="saveboard" parameterType="kt.aivle.board.model.Board" useGeneratedKeys="true" keyProperty="boardSn">
        INSERT INTO board (
        user_sn,
        title,
        content,
        board_yn,
        created_dt,
        updated_dt
        )
        VALUES (
        #{userSn},
        #{title},
        #{content},
        'Y',
        NOW(),
        NOW()
        )
    </insert>

    <!--이미지 서버 등록-->
    <insert
            id="regImg"
            parameterType="kt.aivle.board.model.ImgEntity"
    >
        /* kt.aivle.board.BoardMapper.regImg*/
        INSERT INTO img (
        ref_table,
        ref_sn,
        path,
        file_name,
        ori_file_name,
        ext,
        use_yn,
        created_dt
        ) VALUES (
        #{refTable}
        , #{refSn}
        , #{path}
        , #{fileName}
        , #{oriFileName}
        , #{ext}
        , 'Y'
        , NOW()
        );
    </insert>

    <select id="findImagesByBoardSn" resultType="kt.aivle.board.model.ImgEntity">
        SELECT *
        FROM img
        WHERE ref_table = 'board' AND ref_sn = #{boardSn}
    </select>
    
    <select id="getPostByBoardSn" resultType="kt.aivle.board.model.Board">
        SELECT * FROM board WHERE board_sn = #{boardSn}
    </select>
    
    <delete id="deletePost">
        DELETE FROM board WHERE board_sn = #{boardSn}
    </delete>

</mapper>
